.header {
    background: purple;
    color: white;
    padding: 10px;
    font-weight: 600;
    text-transform: uppercase;
}

.content {
    color: dimgray;
    padding: 10px;
    border: dimgray solid 1px;
    border-top: none;
}

.footer {
    color: dimgray;
    padding: 10px;
    border: dimgray solid 1px;
    border-top: none;
}