<template>
<div>
    <div class="header">
        this is the header
    </div>

    <div class="content">
        this is the content
    </div>

    <div class="footer">
        this is the footer
    </div>
</div>
</template>

<script src="./Card.js" scoped />

<style src="./Card.css" scoped />
