<template>
  <div id="app">

    <Nav/>

    <Card style="margin-top:100px;" />
    
    <Button style="margin-top:40px;" />
    
  </div>
</template>

<script>
import Nav from './components/Nav/Nav.vue'
import Card from './components/Card/Card.vue'
import Button from './components/Button/Button.vue'

export default {
  name: 'app',
  components: {
    Nav,
    Card,
    Button
  }
}
</script>

<style scoped>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  /* color: #2c3e50; */
  /* margin-top: 60px; */
}
</style>
