.nav {
    background: purple;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
}

.content {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 100%;
}