<template>
<div class="nav">
    <!-- Nav -->
    <div class="content">
        <!-- Some content -->
        {{ text }}
    </div>
</div>
</template>

<script src="./Nav.js" scoped />

<style src="./Nav.css" scoped />
